:root {
    --primary-color: #171D1C; /* Eerie Black */
    --secondary-color: #3B6E8B; /* Cerulean */
    --accent1-color: #AEC5EB; /* Powder Blue */
    --accent2-color: #ECFEF3; /* Honeydew */
  }

  header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 2fr;
    justify-content: center;
	align-items: center;
	border-bottom: 1px solid var(--accent2-color);
	max-width: 1000px;
}

nav {
	text-align: right;
}

.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}

.grid-header {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex: 1 1 100%;
}

.grid-header a {
    text-decoration: none;
}

.flexbox-nav {
    display: flex;
    justify-content: flex-end;
}

  h1, h2, h3, h4, h5, h6 {
    display: flex;
    justify-content: center; 
    font-size: 2rem;
    font-family: Roboto, serif;
    color: var(--primary-color);
}

p {
    font-family: Monserrat, serif;
    color: var(--secondary-color);
}

.hero {
    position: relative;
    width: 100%;
}

.hero img {
    display: absolute;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: var(--accent1-color)
}

.hero article img {
    float: right;
}

.history {
    display: grid;
	grid-template-columns: 2fr 310px 2fr;
    justify-content: center;
	align-items: center;
	border-bottom: 1px solid var(--accent2-color);
	max-width: 1000px;
}

.adventure {
    display: grid;
	grid-template-columns: 300px 300px 300px 300px 300px;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--accent2-color);
	max-width: 1000px;
}
